@model shopProject.ViewModels.PViewModels.ProductsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Package):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Package)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsDiscontinued):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.IsDiscontinued)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.Product.Id">Edit</a>
    <a class="btn btn-primary" style="width: auto" asp-action="Index">Back to List</a>
</div>
