@model shopProject.ViewModels.OViewModels.OrdersViewModel
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Index";
}

<div class="content__head">
    <h1>Orders</h1>
    <div class="form-group">
        <a class="btn btn-primary" style="width: auto" asp-action="Create">Create New</a>
    </div>
</div>

<div class="content">
    <div class="content__container">
        @foreach (var item in Model.Orders)
        {
            <div class="content__body">
                <div class="content__picture">
                    <picture><source srcset="img/order.png" type="image/png"><img src="~/img/order.png" alt="" class="content__img"></picture>
                </div>
                <div class="content__item">
                    @Html.DisplayNameFor(modelItem => item.OrderDate):
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </div>
                <div class="content__item">
                    @Html.DisplayNameFor(modelItem => item.OrderNumber):
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </div>
                <div class="content__item">
                    @Html.DisplayNameFor(modelItem => item.TotalAmount):
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </div>
                <div class="content__item">
                    @Html.DisplayNameFor(modelItem => item.CustomerId):
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </div>
                <button class="content__button">
                    <a class="content__btn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </button>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <a class="btn btn-primary" style="width: -webkit-fill-available" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" style="width: -webkit-fill-available" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                }
            </div>
        }
    </div>
</div>