@model shopProject.ViewModels.OIViewModels.OrderItemsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.UnitPrice):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Quantity):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.OrderId):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.ProductId):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.OrderItem.Id">Edit</a>
    <a class="btn btn-primary" style="width: auto" asp-action="Index">Back to List</a>
</div>
