@model shopProject.ViewModels.CViewModels.CustomersDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.Customer.Id">Edit</a>
    <a class="btn btn-primary" style="width: auto" asp-action="Index">Back to List</a>
</div>